asyncio==3.4.3
aiofiles==23.2.1
pathlib==1.0.1
openai==1.13.3
dateparser==1.2.0
O365==2.0.34
requests==2.31.0
geocoder==1.38.1
geopy==2.4.1
geotext==0.4.0
backoff==2.2.1
rich==13.7.0
textual==0.53.1
fuzzywuzzy==0.18.0
tomli==2.0.1
spacy==3.7.4
beautifulsoup4==4.12.2
python-dotenv==1.0.0
Pillow==9.5.0
selenium==4.14.0
pandas==2.2.1
python-Levenshtein==0.25.0